@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Vollkorn&display=swap');

* {
   margin: 0;
   padding: 0;
   border: 0;
}

body {
   font-family: vollkorn, serif;
   font-weight: 300;
   color: #2f4f4f;
}
 
/* headings and logo*/

h1,
h2, h3 {
   font-family: Poppins, sans-serif;
   text-transform: uppercase;
   letter-spacing: 4px;
   color: #2f4f4f;
}

#logo {
   float: left;
   font-size: 30px;
   margin-left: 30px;
   text-transform: initial;
}

/* Navigation Links*/

#menu {
   font-size: 15px;
   letter-spacing: 4px;
}

#menu,
#logo {
   line-height: 75px;
}

#menu li {
   float: right;
   list-style-type: none;
   margin-right: 30px;
}

#menu a {
   text-decoration: none;
   color: inherit;
}

#hero-outer{
    width: 100%;
    height: 450px;    
    overflow: hidden;        
    margin-bottom: 20px;
}

#hero-image {
   margin: auto;      
   border-radius: 50%;
   width: 400px;   
   height: 400px;
   background: url(../images/MyPhoto_nirmal.JPG) no-repeat;
   background-size: contain;
   background-position: center;
   background-color: lightgray; 
   
}

#skills {
   width: 100%;
   height: 450px;
   border: 1px solid;
}

#about {
   width: 100%;
   height: 400px;
   margin-bottom: 15px;
   
}

#about h1{ 
   text-align: center;   
   margin-bottom: 10px;
}

#about p{ 
   padding-left: 20px;
   padding-right: 20px;
}

footer {
   width: 100%;
   height: 100px;
   
}



#projects {
   width: 100%;
   height: 300px;
   border: 1px solid;
}

#projects h1{ 
   text-align: center;   
   margin-bottom: 10px;
}

#projects p{ 
   padding-left: 20px;
   padding-right: 20px;
}